.distance-container{
    position: absolute;
    top:0;
    right:40px;
    z-index: 10;
}
.room-size-container{
    margin: 0 auto;
    text-align: center;
}
.room-size-container input{
    width: 40%;
    margin: 10px auto;
    display: inline-block;
    min-width: 59px;
    text-align: center;
}
.room-size-container p{
    display:inline-block;
    width:30%;
}

.sidebar{
    z-index: 10;
    overflow-y: scroll;
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: 13px 0px 23px 0px rgba(0,0,0,0.71);
    -moz-box-shadow: 13px 0px 23px 0px rgba(0,0,0,0.71);
    box-shadow: 13px 0px 23px 0px rgba(0,0,0,0.71);
    float: right;
    width: 285px;
}
.main-container{
z-index: 1;
height: 100%;
width: 350px;
position: fixed;
}
.textures{
    width:calc(50% - 30px);
    padding:0;
    height:96px;
}
.spawn{
    width:100%;
    padding:0;
}
.collapse{
    margin-bottom:30px;
}
.collapse-icon-closed{
    display: none;
}
.collapse-icon-open{
    display: inline;
}
.collapsed .collapse-icon-open{
    display: none;
}
.collapsed .collapse-icon-closed{
    display: inline;
}
input.none{
    display:none;
}
button.none{
    display:none;
}

.nav-tabs.nav-justified>li>a.active, .nav-tabs.nav-justified>li>a:hover {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-color:  #fff;
    cursor: default;
}
.nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #ddd;
    border-radius: 0 4px 4px 0;
    color: #fff;
    background-color: #428bca;
    color:#fff;
    display: inline-block;
    width: 100%;
}
.nav-tabs.nav-justified>li>a {
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: sans-serif;
    transition: all 0.2s ease-out;
    border: 1px solid #428bca;

}
.nav-tabs.nav-justified>li {
    width:100%;
    margin-bottom:5px;
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
    
}

.nav-tabs{
    float: left;
    width: 35px;
    height: 300px;
    margin-top: 40px;
}
a:hover{
    text-decoration: none;
}
.tab-content{
    margin-top: 10px;
}
@media (prefers-reduced-motion: reduce){
    .fade {
        transition: opacity .2s linear; 
   }
}
.bottom-container{
    position: absolute;
    bottom: 0;
    height: 50px;
    margin-left: 350px;
    margin-bottom:15px;
    width:100vw;
}
input{
    transition: all 0.3s ease-out;
}
.hidden-container p{
display: inline-block;
}
.hidden-container{
    opacity:0;
    height:0;
    transition: all 0.2s ease-out;
    display: none;
    background-color:#428bca;
    padding: .375rem .75rem;
    text-align: center;
    vertical-align: middle;
    color:#fff;
    border-radius: .25rem;
}
.show-hidden-container{
    opacity:100;
    margin: 5px 0;
    height: 42px;
    display: inline-block;
}
button img.img-fluid{
    max-height: 94px;
}